@model MVC.ViewModels.BasketViewModels.IndexViewModel

@{
    ViewData["Title"] = "Basket";
}

<h1>Basket test</h1>

@if (Model.TextMessage.Any())
{
    <p>@Model.TextMessage</p>
}
else
{
    <p>Something is wrong, here should be a message from Basket.Host -> BasketBffController -> method .</p>
}
